<!-- <div class="jumbotron">
  <h1 class="display-3">Hello, Movies!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="m-y-md">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> -->
<section id="intro" class="intro">
  <div class="slogan">
    <h1>Strike</h1>
    <p>Media Made Easy</p>
    <a href="https://getstrike.net/torrents/" class="btn btn-skin scroll">Search Torrents</a>
    <a href="https://play.google.com/store/apps/details?id=net.codeusa.strike&amp;hl=en" class="btn btn-skin scroll">Download on Google Play</a>
  </div>
</section>
<section id="service" class="home-section text-center">
  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>Why Use Strike?</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-code fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Open</h5>
            <p>Strike is open source, giving you endless options for what you can achieve.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-suitcase fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Access</h5>
            <p>No matter where you are, Strike gives you instant access to your home media, start a a movie download while you're at work, or have one ready to play when you walk in the door.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cog fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Configurable</h5>
            <p>Don't settle, configure Strike how you want, enable or remove as many features as you see fit.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-rocket fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Fast</h5>
            <p>Strike is fast and innovative, going to new places in terms of home media management.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>