<h1>hello</h1>
<section class="container" ng-controller="MovieController as films">
{{films.title}}
  <div class="row col-md-4  pull-left list-inline"  ng-repeat="movie in films.myMovie">
  <h1>hello</h1>
  <div class="card">
    <img class="card-img-top" ng-src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="Card image cap">
    <div class="card-block">
     
      <h5 ng-if="movie.name" class="card-title">{{ movie.name}}</h5>
      <h6 class="card-text"><em>{{ movie.media_type}}</em></h6>
      <p class="card-text overview" >{{ movie.overview | limitTo: films.letterLimit}}</p>
      <p class="card-text">Popularity: {{ movie.popularity}}</p>
      <p class="card-text">Rating: {{ movie.vote_average}}</p>
      <p class="card-text">Release Date: {{ movie.release_date}}</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
  </div>
  </section>