<header ng-controller="usersController as users">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="navbar-brand" href="/#/">MoviesApp</a>
          <ul class="nav navbar-nav">
            <li class="nav-item" ng-show="users.isLoggedIn()">
              <a class="nav-link" href="/#/movies">Movies</a>
            </li>
            <li class="nav-item pull-right" ng-hide="users.isLoggedIn()">
              <a class="nav-link" href="/#/login">Login</a>
            </li>
            <li class="nav-item pull-right" ng-hide="users.isLoggedIn()">
              <a class="nav-link" href="/#/signup">Signup</a>
            </li>
            <li class="nav-item pull-right" ng-hide="users.isLoggedIn()">
              <a class="nav-link" href="http://localhost:3000/api/auth/facebook">Login with Facebook</a>
            </li>
            <li class="nav-item pull-right" ng-show="users.isLoggedIn()">
              <a class="nav-link" href="#" ng-click="users.disappear()">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
