<section id="intro" class="intro" ng-init="users.beard()">

  <div class="slogan">
  <img src="../images/img-bg.png">
  <h1 id="title-curved">Blackbeard</h1>
    <p class="title-caption">Search latest Movies</p>
    <a ng-hide="users.isLoggedIn()" href="/#/" class="btn btn-skin scroll" data-toggle="modal" data-target="#login_modal"><button class="btn btn-primary">Login</button></a>
    <a ng-hide="users.isLoggedIn()" href="/#/" class="btn btn-skin scroll" data-toggle="modal" data-target="#signup_modal"><button  class="btn btn-primary">Sign up</button></a>
    <a ng-show="users.isLoggedIn()" href="/#/movies" class="btn btn-skin scroll"><button  class="btn btn-primary">Search Movies</button></a>
  </div>
</section>
<section id="service" class="home-section text-center">
  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
          <h2>Why Use Blackbeard?</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-code fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Open</h5>
            <p>Blackbeard is open source, giving you endless options for what you can achieve.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-suitcase fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Access</h5>
            <p>No matter where you are, Blackbeard gives you instant access to your Movie media, start a a movie download while you're at work, or have one ready to play when you walk in the door.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cog fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Innovative</h5>
            <p>Usually Movie sharing Sites doesn't give you feedbacks about movies, Blackbeard gives you all the informations you need to choose the movie that suits you the most</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-rocket fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Fast</h5>
            <p>Blackbeard is fast, going to new places in terms of Movie media management.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>