
<section class="container" ng-controller="MovieController as films">


<form >
  <input ng-change="films.onFilter(search)" type="text" ng-model="search" name="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
  <!-- <input type="submit" value="submit"> -->
</form>
  <hr/>
  <a href="" ng-click="films.predicate=''">unsorted</a>

  <table class="friend">
    <tr>
      <th>
        <a href="" ng-click="films.order('title')">Title</a>
        <span class="sortorder" ng-show="films.predicate === 'title'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <a href="" ng-click="films.order('-popularity')">Popularity</a>
        <span class="sortorder" ng-show="films.predicate === '-popularity'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <a href="" ng-click="films.order('-vote_average')">Ratings</a>
        <span class="sortorder" ng-show="films.predicate === '-vote_average'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
        <a href="" ng-click="films.order('-release_date')">Relese date</a>
        <span class="sortorder" ng-show="films.predicate === '-release_date'" ng-class="{reverse:reverse}"></span>
      </th>
    </tr>
   </table>



  <div class="row col-md-4  pull-left list-inline" ng-if="movie.poster_path && movie.release_date" ng-repeat="movie in films.allMovies | orderBy:films.predicate:false">
    <div ng-if="movie.title" class="col-md-12"><strong>Title:</strong> {{ movie.title}}</div>
    <div ng-if="movie.name" class="col-md-12"><strong>Title:</strong> {{ movie.name}}</div>
    <div class="col-md-12"><img ng-src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}"></div>
    <div class="col-md-12"><strong>Type:</strong> {{ movie.media_type}}</div>
    <div class="col-md-12"><strong>Overview:</strong> {{ movie.overview}}</div>
    <div class="col-md-12"><strong>Popularity:</strong> {{ movie.popularity}}</div>
    <div class="col-md-12"><strong>Vote average:</strong> {{ movie.vote_average}}</div>
    <div class="col-md-12"><strong>vote count:</strong>  {{ movie.vote_count}} </div>
    <div class="col-md-12"> <strong>Movie relese date:</strong> {{ movie.release_date}}</div>
    <div class="col-md-12"> <strong>Origin Country:</strong> {{ movie.origin_country}}</div>
    <div class="col-md-12"> <strong>Original language:</strong> {{ movie.original_language}}</div>  
    <div class="col-md-12"> <strong>Genres Id:</strong> {{ movie.genre_ids}}</div>  
    <div>
      <div>
   <!--   <video class="col-md-12"  preload="metadata"  controls="controls" preload="metadata">
       <source ng-src="{{ video.video_url}}" type="video/mp4"  />
     </video> -->
   </div>
 </div>
</div>
</section>
